.title
{font-size: 30px;
color: aqua;}

.blue-element
 {color: rgb(91, 91, 234);}

.fat-text
{font-weight: bolder;}


#btm {color: brown;}

body {margin: right 20px;
}

.square {width: 200px;
height :200px;
border :1px solid black;
background-color: black;
 }
 
 body { margin:10px}

 html { height: 50px;}